<div class="container">
  <div class="jumbotron" align="center">
    <h1 class="display-4">BOOBRGOOBRS</h1> <img src="/assets/images/burger.png" width="120px" height="120px">
    <p class="lead">For BRGRS</p>
    <hr class="my-4">
    
    {{!-- <a class="btn btn-primary btn-lg" role="button">Learn more</a> --}}
  </div>

  <h4 align="center">Add a burger</h4>

  <form id="createburger" class="button-size" align="center">
    <input type="text" name="name" placeholder="brgr here"></textarea>
    </br>
    </br>
    <button type="submit" class="btn btn-primary">Save Burger</button>
  </form>

  </br>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h1>Brgrs to Eat</h1>
          {{#each burgers}}
            {{#unless eaten}}
              <p>{{this.name}}   <button type="submit" class="btn btn-primary updateburger" data-brgrid="{{this.id}}">Eat the Burger!</button></p>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h1>Brgrs Eaten</h1>
          {{#each burgers}}
            {{#if eaten}}
              <p>{{this.name}}</p>
            {{/if}}
          {{/each}}
        </div> 
      </div>
    </div>
  </div>
</div>

<script>
  $("#createburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=name] will find an element with a "name" attribute equal to the string "burger"
    var newburger = {
      name: $("#createburger [name=name]").val().trim()
    };

    // Send the POST request.
    $.post("/api/burgers", newburger)
    .then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".updateburger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
  
    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $(this).data("brgrid");
    console.log(id);
    let updatedbrgr = {eaten: 1};
    console.log(updatedbrgr)
    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updatedbrgr
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>